<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
    <table width="640" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td align="left">
                <font face="Verdana, Arial, Helvetica, sans-serif" color="#4e8abe" style="font-size: 9px;"><a href="#" style="color: rgb(153, 153, 153);" target="_blank">ADD TEXT HERE </a></font>
                <br />
                <br />
                <font color="#999999" face="Verdana, Arial, Helvetica, sans-serif" style="font-size: 9px">Add thenest@email.thenest.com to your contacts to ensure our emails get to your inbox. If you're on Gmail, <b>star </b>this message. </font>
                <br />
                <img height="8" border="0" width="1" src="http://images.theknot.com/emails/spacer.gif" alt="" />
            </td>
        </tr>
        <tr>
            <td align="center">
                <font style="font-size:9px;color:#999999;font-family:Verdana,Helvetica,Helvetica,sans-serif;"><a target="_blank" style="color: #999999; text-decoration: none;" href="http://www.thenest.com/?utm_source=thenest.com&utm_medium=email&utm_content=header&utm_campaign=header">TheNest.com</a>&#160;&#160;&#160;&#124;&#160;&#160;&#160;<a target="_blank" style="color: #999999; text-decoration: none;" href="$formlink(campaignname())$">View Online</a></font>
            </td>
        </tr>
        <tr>
            <td height="3"></td>
        </tr>
        <tr>
            <td bgcolor="#FFFFFF" height="40">
                <a href="http://www.thenest.com/?utm_source=thenest.com&utm_medium=email&utm_content=header&utm_campaign=header" target="_blank" style="text-decoration:none">
                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                            <td width="10"></td>
                            <td width="102">
                                <a href="http://www.thenest.com/?utm_source=thenest.com&utm_medium=email&utm_content=header&utm_campaign=header" target="_blank" style=" text-decoration:none"><img style="display:block;" border="0" src="http://www.xoedge.com/emails/banners/TN_logo.gif" alt="http://www.thenest.com/?utm_source=thenest.com&utm_medium=email&utm_content=header&utm_campaign=header" /></a>
                            </td>
                            <td width="10"></td>
                            <td align="left" valign="middle">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%" height="30">
                                    <tr>
                                        <td width="1" bgcolor="#CCCCCC"></td>
                                        <td width="10"></td>
                                        <td height="10" valign="bottom" style="font-family:arial; font-size:16px; color:#cccccc;"><a href="http://www.thenest.com/?utm_source=thenest.com&utm_medium=email&utm_content=header&utm_campaign=header" style="color:#999999; text-decoration:none;" target="_blank">Deals & Offers</a></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" height="1" bgcolor="#CCCCCC"></td>
                        </tr>
                    </table>
                </a>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top">
                <!-- content -->
                {{#content}}
                {{#tracking_pixel}}
                <!-- end content -->
            </td>
        </tr>
        <tr>
            <td height="10"></td>
        </tr>
        <tr>
            <td align="center" valign="top">$footer$</td>
        </tr>
    </table>
</body>

</html>
